#container {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: "Times New Roman", Times, serif;
  justify-content: center;
  align-items: center;
  position: relative;
}

#title {
  float: left;
  text-align: center;
  width: 80%;
  margin-left: 2%;
}

#board td {
  text-align: center;
  width: 200px;
  height: 200px;
  border: 2px solid brown;
  border-radius: 50%;
  object-fit: cover;
}

.mole_img {
  display: none;
  width: 100%;
  height: auto;
  object-fit: cover;
}

#timer {
  position: absolute;
  top: 15px;
  right: 20px;
}

#board_container {
  /* position: relative; */
  text-align: center;
  width: 805px;
  height: 605px;
  margin: 0 auto;
}
